<template>
  <div class="about">
    <h1>This is an about page</h1>
    <router-link to="/chatApp">Chat_app</router-link>  <!-- router呼び出し -->
    <router-view name="RoomList"/>  <!--ここにrouterから呼ばれた内容が描画される。ここまではテンプレなのでいつも表示 -->
  </div>
</template>

 <script>
export default {
 watch: {
   '$route' () {
     console.log('move');
   }
 }

}

</script>