<template>
  <div class="chat-app">
    <section class="hero is-info">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            Priscope
        </h1>
        <h2 class="subtitle">
            <!-- Primary subtitle -->
        </h2>
        </div>
    </div>
    </section>
      <div>
        <roomList />
      </div>
      <div>
        <chatWindow />
      </div>
  </div>
</template>

 <script lang="ts">
    import {Component, Prop, Emit, Watch, Vue} from 'vue-property-decorator';
    import roomList from '@/components/RoomList.vue'; // @ is an alias to /src
    import chatWindow from '@/components/ChatWindow.vue'; // @ is an alias to /src
    
    @Component({
    components: {
        roomList,chatWindow
    },
    })
    export default class ChatApp extends Vue{
        user:object = {};
        chat:Array<string> = [];
        key:string='myKey';
        input:string='';
        mounted() : void {
            console.log('created');
        }

        // @Watch($route)
        // onUrlChange(newValue: string, oldValue: string): void {
        //     console.log(`watch: ${newValue}, ${oldValue}`);
        // }
            
        beforeRouteEnter (to:any, from:any, next:any) {
        console.log('beforeRouteEnter')
        next() // needs to be called to confirm the navigation
        }
    }

</script>

