<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <router-link to="/about">About</router-link>
    <router-view name="About"/>  <!--ここにrouterから呼ばれた内容が描画される。ここまではテンプレなのでいつも表示 -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js + TypeScKCript App"/> -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {
  },
})
export default class Home extends Vue {}
</script>
