<template>
  <div class = "ChatWindow" >
  <!-- <h1>This is an chatwindow page</h1> -->
  <!-- <iframe src="https://discordapp.com/widget?id=498901209240043520&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe> -->
  </div> 
</template>

<script>
  export default {
    watch: {
      '$route'() {
        console.log('move');
      }
    }

  }
</script>