<template>

  <div class="grid-container">
    <div class="room-list card ">
        <div>
        <input type="text" placeholder="input room name" v-model="newRoomName"><button class="button is-small" @click="RoomCreateHandler(newRoomName)">room create</button>
        </div>
        <div class="rooms">
            <!-- <p>Room List</p>
            <ul>
                <li v-for="room in rooms" :key="room.key" class="item-name" > {{ room.name }} <button class="button is-small" @click="roomJoin(room)">join</button></li>
            </ul>
                         -->
            <nav class="panel">
                <p class="panel-heading">
                    Room List
                </p>
                <a v-for="room in rooms" :key="room.key" class="panel-block"  @click="roomJoin(room)">
                    <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    {{ room.name }}
                </a>
            </nav>
            
        </div>
    </div>

    <div class="chat-window card has-background-grey-lighter">
        <transition>
            <div class="room-title">
                <h2 v-if="roomName" id="current-room" class="is-medium tag">current room is&nbsp;<span class="has-text-weight-semibold"> {{ roomName }} </span><button class="button is-small exit-button" @click="roomExit">room exit</button></h2>
            </div>
        </transition>
        <div class="chat-window-messages" ref="messages">
            <transition-group name="demo" tag="div" class="list" appear>
                <section v-for="{ key, message,index,id} in chat" :key="id">
                    <div class="card message" id="item-message">
                        <div class="message-name">
                            {{ myName }} 
                        </div>
                        <div>
                            {{ message }}
                        </div>
                    </div>
                </section>
            </transition-group>
                 <div id="player"></div>
        </div>
        <div>
            <div class="chat-input">
                <textarea type="text" id="chat-input-window" class="textarea" v-model="myMessage"></textarea><button class="button is-small send-button" @click="sendChatHandler(myMessage)">sendChat</button>
            </div>
        </div>
    </div>
  </div>

</template>

 <script lang="ts">
    import {Component, Prop, Emit, Watch, Vue} from 'vue-property-decorator';
    import roomList from '@/components/RoomList.vue'; // @ is an alias to /src
    import chatWindow from '@/components/ChatWindow.vue'; // @ is an alias to /src
    import firebase from 'firebase';

    @Component
    export default class RoomList extends Vue{
        chat:Array<object> = [];
        rooms:Array<object> = [];
        roomName:string="";
        roomId:string = "";
        myName='myName';
        myMessage:string="";
        newRoomName:string='';

        mounted() : void {
            const ref_room = firebase.database().ref('rooms');
            // const ref_test = firebase.database().ref('message2/room1');
            // ref_test.limitToLast(10).on('child_added',this.test)
            // ref_test.orderByChild('id').equalTo('room1').on("value",this.queryTest)
            // console.log(ref_test);
            ref_room.limitToLast(10).on('child_added', this.roomAdded)
            // firebase.database().ref('message').push({message: ['test1','test2'],message2:['test3','test4']})
        }

        @Watch('roomId')
        onValueChange(newValue: string, oldValue: string): void {
            console.log("watcher called")
            console.log(oldValue);
            console.log(newValue);
            if(this.roomId)
            {
                // firebase.database().ref('rooms/'+ oldValue+'/messages').limitToLast(10).off('child_added',this.messageAdded);
                
                // firebase.database().ref('rooms/'+ newValue+'/messages').limitToLast(10).on('child_added', this.messageAdded);
            }
        }

        sendChatHandler(myMessage:string):void{
            if (!this.roomId)
            {
                console.log('roomId is not found');
                return;
            }
            firebase.database().ref('rooms/'+this.roomId+'/messages').push({
                userName:this.myName,
                userImage:'image',
                message:myMessage,
            })
                console.log(' chat was sent')
        }

        RoomCreateHandler(newRoomName:string):void{
            const pushKey:any = firebase.database().ref('rooms').push({
                name: newRoomName,
                capacity: 5,
            }, () => {

            }).key;
        }

        roomAdded(snap:any):void{
            const room = snap.val()
            this.rooms.push({
                key: snap.key,
                name: room.name,
                password: room.password,
            })
            console.log(snap.key);
        }

        messageAdded(snap:any):void{
            const messageObj = snap.val();
            this.chat.push({
                id:this.chat.length,
                key: snap.key,
                message: messageObj.message,
                userName: messageObj.userName,
                userImage: messageObj.userImage
            })
            this.scrollBottom();
        }

        scrollBottom():void {
                  console.log("called scroll")

            this.$nextTick(() => {
                let container:any = this.$el.querySelector(".chat-window-messages");
                let tmp = chatWindow
                container.scrollTo(0, document.body.clientHeight)
            })
        }
        
        roomJoin(room:any):void{
            if(this.roomId)
            {
                console.log('already joined room')
                return;
            }
            
            // 部屋に名前を追加
            firebase.database().ref('rooms/'+room.key+'/members').push({userName:this.myName});

            // keyを格納
            this.roomId = room.key;
            this.roomName = room.name;

            firebase.database().ref('rooms/'+ this.roomId+'/messages').limitToLast(10).on('child_added',this.messageAdded);

            console.log("room joined "+this.roomName);
            
            this.OpenVideo();
        }

        roomExit():void{
            if(!this.roomId)
            {
                console.log("room not joined");
                return;
            }

            const ref = firebase.database().ref('rooms/'+this.roomId+'/members');
            ref.orderByChild('userName').equalTo(this.myName).once("child_added",function(snap:any){
                if(!snap.val())
                {
                    console.log("my name not exist in room");
                    return;
                }
                else
                {
                    console.log(snap.key);
                    ref.child(snap.key).remove();
                }
            });

            firebase.database().ref('rooms/'+ this.roomId+'/messages').limitToLast(10).off('child_added',this.messageAdded);

            this.roomName = '';
            this.roomId = '';
            this.chat = [];
        }

        OpenVideo():void{
             console.log("open video called")
            

        }



      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.

    }

        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag:any = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
            height: '360',
            width: '640',
            videoId: 'M7lc1UVf-VE',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
                }
            });
        }
        
     function onPlayerReady(event:any) {
         console.log("called")
        event.target.playVideo();
      }

      var done = false;
      function onPlayerStateChange(event:any) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
        //   setTimeout(stopVideo, 6000);
          done = true;
        }
      }
    //   function stopVideo() {
    //     player.stopVideo();
    //   }

</script>

<style>
    *{
        margin: 0;
    }
    ul{
        list-style: none;
    }

    .grid-container{
        display: grid;
        grid-template-areas: 
            "room-list chat-window";
        grid-template-columns: 150px 1fr;
        grid-template-rows: 700px;
        margin: 4px;
    }

    .room-list{
        grid-area: room-list;
    }
    
    .panel-heading{
        padding: 0.2em;
        font-size: 1em;
    }

    .panel-block{
        height: 25px;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.8em;
    }

    .rooms{
        margin-top: 10px;
    }

    .rooms ul{
        padding-left: 5px;
        padding-bottom: 3px;
    }

    .rooms li{
        display: flex;
        justify-content: space-between;
    }

    .chat-window{
        margin-left: 6px;
        grid-area: chat-window;
        position: relative;
    }

    .chat-input{
        height: 160px;
    }

    .chat-window-messages{
        height: 550px;
        overflow: scroll;
    }

    .chat-window-messages::-webkit-scrollbar{
    display:none;
}

    .room-title{
        margin: 4px;
        position: absolute;
        right: 10px;
        transition: 0.5s;
    }

    #currnet-room{
        margin: 4px;
    }

    .exit-button{
        margin-left: 4px;
    }

    #chat-input-window{
        min-width: 0;
        max-width: 90%;
        margin: 5px auto;
        resize: none;
    }

    .message-name {
        text-align: left;
        font-size: 75%;
    }

    #item-message{
        margin: 10px;
        max-width: 250px;
        /* width: 250px; */
        height: 70px;
        word-break:break-all;
        overflow: hidden;
        padding: 3px;
        background: white;
        transition: 0.3s;
    }

    .chat-input{
        position: absolute;
        bottom: 0px;
        width: 100%;
    }

    .chat-input > input{
        width: 90%;
    }

    .send-button{
        right: 10px;
    }

    .demo-enter-active, .demo-leave-active {
        transition: all 0.5s;
    }
    
    .demo-enter{
        opacity: 0;
        transform: translateX(30px);
    }

    .demo-leave-to{
        opacity: 0;
    }
</style>