<template>
  <div id="app">
      <!-- <router-link to="/">Home</router-link> | -->
      <!-- <p>App.vue</p> -->
    <router-view />  <!--ここにrouterから呼ばれた内容が描画される。ここまではテンプレなのでいつも表示 -->
  </div>
</template>

 <!-- 
 <script lang="ts">
  import {Component, Prop, Emit, Watch, Vue} from 'vue-property-decorator';
 
 export default class app extends Vue{
  @Watch('$route')
  onValueChange(newValue: string, oldValue: string): void {
  console.log(`watch: ${newValue}, ${oldValue}`)
  }
 }
 </script>  
 -->
 
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
